*{
    padding: 0;
    margin: 0;
}


body {
    margin: 0; /* Remove default margin */
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */

    background-image: url('sample9.jpg');
    background-size: cover;         /* Scale to fill entire screen */
    background-repeat: no-repeat;   /* Prevent repeating */
    background-position: center;    /* Center the image */
}





/* body {
    background-image: url('sample9.jpg');
    background-size: cover;
    height: 700px;

    background-repeat: no-repeat;
    
} */


h1{
    font-size: 5rem;
    padding-top: 18px;
    text-align: center;
    color:rgba(1, 37, 35, 0.927);

}

div{
    display: flex;
    align-items: center;
    justify-content: center;

}

div{
    margin-top: 60px;
}
.box{
    height: 30px;
    width: 400px;
    border: 1px solid lightgray;
    font-size: 1rem;
    border-radius: 1rem;
    padding-left: 1rem;
    background-color: rgb(198, 224, 224);
   
}
#btn{
    height: 30px;
    width: 100px;
    border-radius: 0.5rem;
    margin: 10px;
    background-color:rgb(234, 205, 207) ;
    border: 1px solid whitesmoke;
    
}


ul{
    margin-left: 18rem;
    margin-top: 1rem;
    font-style: oblique;
    font-size: 1.2rem;
}

.lists{
    margin-bottom: 0.4rem;
    
  
}

button{
    width: 80px;
    border-radius: 0.3rem;
    border: 0.5px solid rgb(20, 20, 20);
    margin-left: 2.5rem;
}
